.top-calendar,
.main-calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#calendar li,
#nome-mese {
    text-transform: capitalize;
}

.festivo {
    color: red;
}

.square{
    width: calc(100% / 7);
    height: 60px;
    border: solid black 1px;
}
